.de-donde-venimos{
    padding: 0 16px;
}

.de-donde-venimos h2{
    color: black;
    margin: 0 auto;
    
}

.de-donde-container{
    max-width: 407px;
    min-width: 300px;
}

.de-donde-venimos img{
    height: auto;
    width: 100%;
    margin-bottom: 30px;
    max-height: 660px;
    max-width: 457px;
}

.de-donde-venimos p{
    margin-bottom: 54px;
}