.main{
    width: 100%;
    padding: 0 16px;
    margin-top: 29px;
    margin-bottom: 90px;
    max-width: 600px;
    
}

.only-desktop{
    display: none;
}



.line-through{
    text-decoration: line-through;
}
