.temas{
    padding: 0 16px;
    margin-bottom: 100px;
}

.temas h2{
    color: black;
    margin-top: 48px;
    margin-bottom: 50px;
}

.temas p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 52px;
    margin-top: 13px;
    text-align: center;
}

.icono{
    display: flex;
    flex-direction: column;

}